@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --blanco: #fcfffc;
    --gris: #e2e2dd;
    --grisOscuro: #333533;
    --negro: #080708;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background-color: var(--blanco);
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 4rem;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0px 0px 10px rgba(8, 7, 8, 0.75);
    position: fixed;
    z-index: 999;
    font-family: 'Play', sans-serif;
}

.logo {
    height: 10rem;
}

.nav {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--negro);
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.nav-link:hover {
    color: var(--blanco);
    background-color: var(--negro);
    padding: .5rem ;
    transition: all 0.4s ease-in;
    border-radius: 5px;
}

/* ------- inicio section ------- */
#inicio {
    height: 50rem;
    width: 100%;
    background-image: url(../assets/fondo-inicio.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.container-inicio {
    height: 50rem;
    width: 100%;
    background-color: rgba(8, 7, 8, 0.842);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(8, 7, 8, 0.75);
}

.logo__container-inicio {
    height: 35rem;
    display: flex;
    justify-content: center;
}

.paragraph-inicio {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    color: var(--blanco);
    width: 65%;
    margin: -5rem auto auto auto;
    font-family: 'Lato', sans-serif;
}

.span-inicio {
    color: var(--gris);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

@media (max-width: 680px) {
    .nav-link {
        font-size: 1.2rem;
    }


    #inicio {
        height: 40rem;
    }

    .logo__container-inicio {
        height: 25rem;
    }

    .paragraph-inicio {
        font-size: .9rem;
        text-align: center;
        color: var(--blanco);
        width: 50%;
        margin: -5rem auto auto auto;
    }

}

/* ------- banner section ------- */
.banner-container {
    height: 13rem;
    width: 100%;
    margin: auto;
    background-color: var(--negro);
    display: flex;
    place-content: center;
}

.banner-title {
    font-size: 2.5rem;
    color: var(--gris);
    margin: auto;
}

/* ------- shop section ------- */
#shop {
    height: 100rem;
    width: 100%;
}

.container-shop {
    height: 95rem;
    width: 100%;
    padding: 5rem 2rem;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.title-shop {
    display: none;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.products {
    height: 20rem;
    width: 100%;
    margin-bottom: 4rem;
    display: grid;
    justify-content: center;
    background-color: var(--blanco);
    transition: all 0.5s ease-out;
}
.products:hover {
    transition: all 0.4s ease-in;
    background: var(--negro);
}
.container-products {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: .1px solid var(--gris);
    transition: all 0.5s ease-out;
}

.container-products:hover {
    transform: scale(1.04);
    transition: all 0.4s ease-in;
}

.product__imagen {
    height: 20rem;
    width: 100%;
    filter: drop-shadow(0px 2px 4px var(--negro));
}

.nombre__products {
    font-size: .8rem;
    text-align: center;
    font-weight: lighter;
    padding: 1rem 0;
    color: var(--grisOscuro);
    text-transform: uppercase;
}

.btn-cta {
    padding: 0 5px;
    text-align: center;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: var(--negro);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--negro);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 1060px) {
    #shop {
        height: 180rem;
        width: 100%;
    }

    .container-shop {
        height: 180rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 680px) {
    #shop {
        height: 155rem;
        width: 100%;
    }

    .container-shop {
        height: 155rem;
    }

    .products,
    .product__imagen {
        height: 15rem;
    }

    .container-products {
        height: 22.5rem;
        box-shadow: 0px 0px 10px rgba(8, 7, 8, 0.25);
        cursor: pointer;
    }

    .nombre__products {
        font-size: .5rem;
    }

    .btn-products {
        width: 5rem;
        font-size: .9rem;
    }

    .banner-title {
        font-size: 2rem;
        color: var(--gris);
        margin: auto;
    }
}

/* ------ contact section ------- */
#contacto {
    height: 26rem;
    width: 100%;
    background-color: var(--negro);
}

.container-contacto {
    height: 25.5rem;
    width: 100%;
}

.logo-contacto {
    height: 15rem;
    display: flex;
    justify-content: center;
}

.title-contacto {
    text-align: center;
    color: var(--blanco);
    margin-bottom: 3rem;
}

.item-contacto {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: -2rem;
    color: var(--blanco);
}

.item-descripcion {
    font-size: 1.2rem;
    list-style: none;
    padding: 0 1.2rem;
}

.item-redes {
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding: 0 1.2rem;
    transition: all 0.3s ease-out;
}

.item-redes:hover{
    transition: all 0.3s ease-in;
    transform: scale(1.15);
}

@media (max-width: 460px) {

}

@media (max-width: 680px) {
    .item-descripcion {
        font-size: 1rem;
        list-style: none;
        padding: 0 .6rem;
    }

    .logo__container-inicio {
        height: 25rem;
    }
}

/* -------- products section ------- */
#producto {
    height: 50rem;
    width: 100%;
    padding: 2rem;
}

.tilte-producto {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    letter-spacing: 6px;
}

.container-producto {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.producto__vista {
    height: 30rem;
    margin: auto;
    cursor: pointer;
}

.img-producto {
    height: 40rem;
    filter: drop-shadow(0px 4px 5px var(--grisOscuro));
    border-radius: 5px;
    transition: all 0.4s ease-out;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;

}

.img-producto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta el tama침o de la imagen para cubrir el contenedor */
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* Ajusta el tama침o de la segunda imagen para cubrir el contenedor */
    opacity: 0;
    /* Inicialmente la segunda imagen est치 oculta */
    transition: opacity 0.9s ease;
    /* Agrega una transici칩n suave para el cambio de imagen */
}

.img-container:hover .hover-img {
    opacity: 1;
    /* Al pasar el cursor sobre el contenedor, la segunda imagen se muestra */
}

.producto__info {
    top: 0;
    width: 100%;
}

.paragraph-producto {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.talles-title a{
    color: var(--negro);
    transition: all 0.2s ease-out;
}

.talles-title a:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.fancy {
    background-color: transparent;
    border: 2px solid var(--negro);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--blanco);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: var(--negro);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--negro);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: var(--blanco);
    background: var(--negro);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: var(--blanco);
}

.fancy:hover .text {
    color: var(--blanco);
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}


/*------- footer -------*/

#footer {
    width: 100%;
    height: 3rem;
    font-style: italic;
    background: #0a090a;
    font-family: 'Play', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-footer {
    color: var(--grisOscuro);
    font-size: 14px;
    font-weight: 600;
}


/*------- Table Section -------*/
#table {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table img {
    height: 35rem;
    margin-right: 3rem;
}

/*------- mediaqueris -------*/

@media (max-width: 620px) {

    .nav-link {
        font-size: 1.2rem;
    }


    #inicio {
        height: 47rem;
    }

    .logo__container-inicio {
        margin-top: 2rem;
        height: 25rem;
    }

    .paragraph-inicio {
        font-size: .7rem;
        text-align: center;
        width: 100%;
        padding: 2rem;
        margin: 0;
    }   

    .span-inicio {
        font-size: 0.7rem;
    }

    /*banner*/

    .banner-container {
        height: 8rem;
        width: 100%;
        margin: auto;
        background-color: var(--negro);
        display: flex;
        place-content: center;
    }
    
    .banner-title {
        font-size: 1.7rem;
        color: var(--gris);
        margin: auto;
    }
    

    /*shop*/

    #shop {
        height: 130rem;
        width: 100%;
    }

    .container-shop {
        height: 130rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .products {
        height: 10rem;
        width: 100%;
        margin-bottom: 2rem;
        display: grid;
        justify-content: center;
        background-color: var(--blanco);
        transition: all 0.5s ease-out;
    }

    .product__imagen {
        height: 10rem;
        margin-bottom: 2rem;
    }

    .container-products {
      height: 19rem;
    }

    .cta span {
        padding-bottom: 2px;
        letter-spacing: 4px;
        padding-right: 15px;
        font-size: 10px;
        text-transform: uppercase;
    }

    /*contacts*/

    #contacto {
        height: 26rem;
        width: 100%;
        background-color: var(--negro);
    }

    .item-descripcion {
        font-size: 1rem;
        list-style: none;
        padding: 0.5rem;
    }
    
}

@media (max-width: 460px) {

    .cta {
        padding: 0 5px;
    }
}


/*------- mediaqueris products-------*/

@media (max-width: 998px) {

    .img-producto {
        height: 24rem;
    }

    .paragraph-producto {
        font-size: .9rem;
        text-align: center;
    }

    .talles-title {
        display: flex;
        justify-content: end;
    }
}


@media (max-width: 744px) {
    .container-producto {
        height: 30rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tilte-producto {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
        letter-spacing: 6px;
        font-size: 1.2rem;
    }

    .img-producto {
        height: 16rem;
        margin-bottom: 1rem;
    }

    .paragraph-producto {
        font-size: 11px;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .talles-title {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 1.8rem;
    }
}


/*------- Meadiqueris Table --------*/

@media (max-width: 876px) {
    .table img {
        height: 28rem;
    }
}

@media (max-width: 684px) {

    #table {
        height: 45rem;
    }

    .table img {
        width: 100%;
        height: 15rem;
        margin-right: 0;
    }
}